<div>
    <style>
        th.sort.sort-desc::after {
            content: '▼';
        }
        th.sort.sort-asc::after {
            content: '▲';
        }
    </style>
    <div>
        <table></table>
    </div>
</div>